.App {
  text-align: center;
  margin-top: 100px;
}

.number-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.number {
  border: 1px solid;
  border-radius: 50%;
  margin: 10px;
}

p {
  margin: 0;
  padding: 10px;
}

button {
  margin-bottom: 25px;
}